@tailwind base;

@tailwind components;

@tailwind utilities;

html, body,  #__next {
  min-height: 100vh;
}

html{
  background-color: #001D3D;
}

html {
  scroll-behavior: smooth;
}
.progress-bar {
  position: fixed;
  top: 0;
  left: 100px;
  right: 0;
  z-index: 10;
  height: 10px;
  background: #3B82F6;
  transform-origin: 0%;
}
@media screen and (min-width: 768px) {
  .vertical-align{
    writing-mode: vertical-lr
  }
 
}

@media screen and (max-width: 767px) {
  .progress-bar {
    left: 0px;
  }
  .change-order1{
    order: 3;
  }
  .change-order2{
    order: 2

  }
  .change-order3{
    order: 1;

  }
  .change-order4{
    order: 4;

  }
  .change-order5{
    order: 5;

  }
    
 
}

.grid-respo{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
  justify-content: flex-start;
}


.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  scroll-behavior: 'smooth';
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


.scrolledDown {
  transform: translateY(100%);
transition: transform 0.4s ease-out;
}


.scrolledUp {
  transform: translateY(0%);
transition: transform 0.4s ease-out;
}


